
  <ul class="nav" ui-nav>
    <li class="nav-header hidden-folded">
      <small class="text-muted">Main</small>
    </li>
    
    <li>
      <a>
        <span class="nav-caret">
          <i class="fa fa-caret-down"></i>
        </span>
        <span class="nav-label"><b class="label rounded label-sm {{app.setting.theme.warn}}">5</b></span>
        <span class="nav-icon">
          <i class="material-icons">&#xe5c3;<span ui-include="'../assets/images/i_1.svg'"></span></i>
        </span>
        <span class="nav-text">权限管理</span>
      </a>
      <ul class="nav-sub">
        <li ui-sref-active="active">
          <a href="inbox.html" ui-sref="app.inbox.list"><span class="nav-text">角色管理</span></a>
        </li>
        <li ui-sref-active="active">
          <a href="contact.html" ui-sref="app.contact"><span class="nav-text">用户管理</span></a>
        </li>
        <li ui-sref-active="active">
          <a href="calendar.html" ui-sref="app.calendar"><span class="nav-text">广告位列表</span></a>
        </li>
      </ul>
    </li>

    <li ng-class="{active:$state.includes('app.layout')}">
      <a>
        <span class="nav-icon">
          <i class="material-icons">&#xe8f0;<span ui-include="'../assets/images/i_2.svg'"></span></i>
        </span>
        <span class="nav-text">p2p配置</span>
      </a>
    
    </li>

    <li ui-sref-active="active">
      <a href="widget.html" ui-sref="app.widget">
        <span class="nav-icon">
          <i class="material-icons">&#xe8d2;<span ui-include="'../assets/images/i_3.svg'"></span></i>
        </span>
        <span class="nav-text">域名黑名单列表</span>
      </a>
    </li>

    <li ui-sref-active="active">
      <a href="widget.html" ui-sref="app.widget">
        <span class="nav-icon">
          <i class="material-icons">&#xe8d2;<span ui-include="'../assets/images/i_3.svg'"></span></i>
        </span>
        <span class="nav-text">活动管理</span>
      </a>
    </li>


    <li>
      <a>
        <span class="nav-caret">
          <i class="fa fa-caret-down"></i>
        </span>
        <span class="nav-label"><b class="label rounded label-sm {{app.setting.theme.warn}}">5</b></span>
        <span class="nav-icon">
          <i class="material-icons">&#xe5c3;<span ui-include="'../assets/images/i_1.svg'"></span></i>
        </span>
        <span class="nav-text">活动管理</span>
      </a>
      <ul class="nav-sub">
        <li ui-sref-active="active">
          <a href="inbox.html" ui-sref="app.inbox.list"><span class="nav-text">1</span></a>
        </li>
        <li ui-sref-active="active">
          <a href="contact.html" ui-sref="app.contact"><span class="nav-text">2</span></a>
        </li>
        <li ui-sref-active="active">
          <a href="calendar.html" ui-sref="app.calendar"><span class="nav-text">3</span></a>
        </li>
      </ul>
    </li>

    <li ui-sref-active="active">
      <a href="widget.html" ui-sref="app.widget">
        <span class="nav-icon">
          <i class="material-icons">&#xe8d2;<span ui-include="'../assets/images/i_3.svg'"></span></i>
        </span>
        <span class="nav-text">app广告配置</span>
      </a>
    </li>

    <li ui-sref-active="active">
      <a href="widget.html" ui-sref="app.widget">
        <span class="nav-icon">
          <i class="material-icons">&#xe8d2;<span ui-include="'../assets/images/i_3.svg'"></span></i>
        </span>
        <span class="nav-text">app推广列表</span>
      </a>
    </li>

    <li ui-sref-active="active">
      <a href="widget.html" ui-sref="app.widget">
        <span class="nav-icon">
          <i class="material-icons">&#xe8d2;<span ui-include="'../assets/images/i_3.svg'"></span></i>
        </span>
        <span class="nav-text">流量白名单</span>
      </a>
    </li>

    <li ui-sref-active="active">
      <a href="widget.html" ui-sref="app.widget">
        <span class="nav-icon">
          <i class="material-icons">&#xe8d2;<span ui-include="'../assets/images/i_3.svg'"></span></i>
        </span>
        <span class="nav-text">广告位配置</span>
      </a>
    </li>

    <li ui-sref-active="active">
      <a href="widget.html" ui-sref="app.widget">
        <span class="nav-icon">
          <i class="material-icons">&#xe8d2;<span ui-include="'../assets/images/i_3.svg'"></span></i>
        </span>
        <span class="nav-text">多码率配置列表</span>
      </a>
    </li>

    <li>
      <a>
        <span class="nav-caret">
          <i class="fa fa-caret-down"></i>
        </span>
        <span class="nav-label"><b class="label rounded label-sm {{app.setting.theme.warn}}">5</b></span>
        <span class="nav-icon">
          <i class="material-icons">&#xe5c3;<span ui-include="'../assets/images/i_1.svg'"></span></i>
        </span>
        <span class="nav-text">频道管理</span>
      </a>
      <ul class="nav-sub">
        <li ui-sref-active="active">
          <a href="inbox.html" ui-sref="app.inbox.list"><span class="nav-text">1</span></a>
        </li>
        <li ui-sref-active="active">
          <a href="contact.html" ui-sref="app.contact"><span class="nav-text">2</span></a>
        </li>
        <li ui-sref-active="active">
          <a href="calendar.html" ui-sref="app.calendar"><span class="nav-text">3</span></a>
        </li>
      </ul>
    </li>

    <li>
      <a>
        <span class="nav-caret">
          <i class="fa fa-caret-down"></i>
        </span>
        <span class="nav-label"><b class="label rounded label-sm {{app.setting.theme.warn}}">5</b></span>
        <span class="nav-icon">
          <i class="material-icons">&#xe5c3;<span ui-include="'../assets/images/i_1.svg'"></span></i>
        </span>
        <span class="nav-text">广告管理</span>
      </a>
      <ul class="nav-sub">
        <li ui-sref-active="active">
          <a href="inbox.html" ui-sref="app.inbox.list"><span class="nav-text">1</span></a>
        </li>
        <li ui-sref-active="active">
          <a href="contact.html" ui-sref="app.contact"><span class="nav-text">2</span></a>
        </li>
        <li ui-sref-active="active">
          <a href="calendar.html" ui-sref="app.calendar"><span class="nav-text">3</span></a>
        </li>
      </ul>
    </li>

    <li>
      <a>
        <span class="nav-caret">
          <i class="fa fa-caret-down"></i>
        </span>
        <span class="nav-label"><b class="label rounded label-sm {{app.setting.theme.warn}}">5</b></span>
        <span class="nav-icon">
          <i class="material-icons">&#xe5c3;<span ui-include="'../assets/images/i_1.svg'"></span></i>
        </span>
        <span class="nav-text">直播间管理</span>
      </a>
      <ul class="nav-sub">
        <li ui-sref-active="active">
          <a href="inbox.html" ui-sref="app.inbox.list"><span class="nav-text">1</span></a>
        </li>
        <li ui-sref-active="active">
          <a href="contact.html" ui-sref="app.contact"><span class="nav-text">2</span></a>
        </li>
        <li ui-sref-active="active">
          <a href="calendar.html" ui-sref="app.calendar"><span class="nav-text">3</span></a>
        </li>
      </ul>
    </li>

    <li>
      <a>
        <span class="nav-caret">
          <i class="fa fa-caret-down"></i>
        </span>
        <span class="nav-label"><b class="label rounded label-sm {{app.setting.theme.warn}}">5</b></span>
        <span class="nav-icon">
          <i class="material-icons">&#xe5c3;<span ui-include="'../assets/images/i_1.svg'"></span></i>
        </span>
        <span class="nav-text">主播管理</span>
      </a>
      <ul class="nav-sub">
        <li ui-sref-active="active">
          <a href="inbox.html" ui-sref="app.inbox.list"><span class="nav-text">1</span></a>
        </li>
        <li ui-sref-active="active">
          <a href="contact.html" ui-sref="app.contact"><span class="nav-text">2</span></a>
        </li>
        <li ui-sref-active="active">
          <a href="calendar.html" ui-sref="app.calendar"><span class="nav-text">3</span></a>
        </li>
      </ul>
    </li>

    <li>
      <a>
        <span class="nav-caret">
          <i class="fa fa-caret-down"></i>
        </span>
        <span class="nav-label"><b class="label rounded label-sm {{app.setting.theme.warn}}">5</b></span>
        <span class="nav-icon">
          <i class="material-icons">&#xe5c3;<span ui-include="'../assets/images/i_1.svg'"></span></i>
        </span>
        <span class="nav-text">账号管理</span>
      </a>
      <ul class="nav-sub">
        <li ui-sref-active="active">
          <a href="inbox.html" ui-sref="app.inbox.list"><span class="nav-text">1</span></a>
        </li>
        <li ui-sref-active="active">
          <a href="contact.html" ui-sref="app.contact"><span class="nav-text">2</span></a>
        </li>
        <li ui-sref-active="active">
          <a href="calendar.html" ui-sref="app.calendar"><span class="nav-text">3</span></a>
        </li>
      </ul>
    </li>


    <li>
      <a>
        <span class="nav-caret">
          <i class="fa fa-caret-down"></i>
        </span>
        <span class="nav-label"><b class="label rounded label-sm {{app.setting.theme.warn}}">5</b></span>
        <span class="nav-icon">
          <i class="material-icons">&#xe5c3;<span ui-include="'../assets/images/i_1.svg'"></span></i>
        </span>
        <span class="nav-text">财富管理</span>
      </a>
      <ul class="nav-sub">
        <li ui-sref-active="active">
          <a href="inbox.html" ui-sref="app.inbox.list"><span class="nav-text">1</span></a>
        </li>
        <li ui-sref-active="active">
          <a href="contact.html" ui-sref="app.contact"><span class="nav-text">2</span></a>
        </li>
        <li ui-sref-active="active">
          <a href="calendar.html" ui-sref="app.calendar"><span class="nav-text">3</span></a>
        </li>
      </ul>
    </li>
  </ul>
